<img
  class="logomarca"
  src="../../../assets/LogoMarkNightTheme.svg"
  alt="ArseniumGX logomarca"
/>
<div class="socials">
  <a href="https://www.github.com/arseniumgx" target="_blank">
    <img src="../../../assets/GitHub.svg" alt="Github" />
  </a>
  <a href="https://www.instagram.com/arseniumgx" target="_blank">
    <img src="../../../assets/Instagram.svg" alt="Instagram" />
  </a>
  <a href="https://www.facebook.com/arseniumgx" target="_blank">
    <img src="../../../assets/Facebook.svg" alt="Facebook" />
  </a>
  <a href="https://www.twitter.com/arseniumgx" target="_blank">
    <img src="../../../assets/TwitterX.svg" alt="TwitterX" />
  </a>
</div>
<p>Desenhado e desenvolvido por José “ArseniumGX” Macedo &#64; 2024</p>
